<html>

<body>
<div>

    <form method="post">
        <input type="text" name="text" placeholder="Insert message">
        <input type="text" name="tag" placeholder="tag">
        <button type="submit">submit</button>
    </form>
</div>


<div>Список сообщений</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>

    </div>
{{/messages}}
</body>

</html>